@use '../global' as *;

#header-container {
	width: 20vw;
	.header-account-wrapper {
		@include flex(row, flex-start, center);
		gap: .8rem;

		.header-account-image {
			height: 34px;
			width: 34px;
			border-radius: 25%;
		}

		.header-account-info {
			@include text-size($font-size-small);
			@include text-truncate();
		}
	}

	.nav-container {
		@include flex( column, center, flex-start);
		gap: 1rem;
		padding-top: .5rem;

		.nav-button {
			@include flex(row, center, center);
			@include text-size($font-size-small);
			@include text-truncate();
			padding: .2rem .5rem;
			border-radius: 5px;
			background-color: $primary-color;
			border: none;
			width: 100%;
			cursor: pointer;
			box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
			&:hover {
				background-color: white;
				scale: 1.04;
			}

		}

		.nav-list {
			.nav-item {
				@include text-size($font-size-body);
				@include text-truncate();
				cursor: pointer; // Add cursor pointer here
			}
			.nav-item:hover {
				color: white;
			}
		}
	

		.nav-item-active {
			background-color: $accent-color;
			color: white;
		}

		.label-button {
			@include flex(row, center, center);
			@include text-size($font-size-tiny);
			@include text-truncate();
			padding: .2rem .5rem;
			border-radius: 5px;
			background-color: $background-color;
			border: none;
			width: 100%;
			cursor: pointer;
			&:hover {
				background-color: white;
				scale: 1.04;
			}
		}
	}
}