@use '../global' as *;

#main-container {
	flex: 1;
	width: 80vw;
	height: auto;
	background-color: #ececec;
	border-radius: 10px 0 0 0;
	color: $background-color;
	padding: 1rem;
	overflow: hidden;
	box-shadow: -5px 0px 10px -5px #868686;
}