// Roboto Mono
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

$heading-font: 'Roboto Mono', monospace;
$paragraph-font: 'Khand', sans-serif;
$button-font: 'Palanquin', sans-serif;


.roboto-mono {
	font-family: "Roboto Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
  }

// Khand
.khand-light {
	font-family: "Khand", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .khand-regular {
	font-family: "Khand", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .khand-medium {
	font-family: "Khand", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .khand-semibold {
	font-family: "Khand", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .khand-bold {
	font-family: "Khand", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  

// Palnquin
.palanquin-thin {
	font-family: "Palanquin", sans-serif;
	font-weight: 100;
	font-style: normal;
  }
  
  .palanquin-extralight {
	font-family: "Palanquin", sans-serif;
	font-weight: 200;
	font-style: normal;
  }
  
  .palanquin-light {
	font-family: "Palanquin", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .palanquin-regular {
	font-family: "Palanquin", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .palanquin-medium {
	font-family: "Palanquin", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .palanquin-semibold {
	font-family: "Palanquin", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .palanquin-bold {
	font-family: "Palanquin", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  